# Operating System Files
.DS_Store
Thumbs.db

# Editor Files
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Environment variables
.env